body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.bike-page {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.bike-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bike-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bike-info p {
    font-size: 18px;
    color: #555;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    text-decoration: none;
    color: #555;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.8;
}

.slide-in {
    transform: translateX(0);
}
